@model IEnumerable<entitylayer.Concrete.Category>
<div class="sidebar-box">

    <h3 class="heading">Categories</h3>
   
    <ul class="categories">
        @*@foreach (var x in Model)
        {
            <li><a href="/Blog/BlogByCategory/@x.CategoryID">@x.CategoryName<span></span></a></li>

        }*@
        <li><a href="/Blog/BlogByCategory/5/">Abroad</a></li>
        <li><a href="/Blog/BlogByCategory/2/">Domestic</a></li>
        <li><a href="/Blog/BlogByCategory/3/">International Food</a></li>
        <li><a href="/Blog/BlogByCategory/4/">National Food</a></li>

    </ul>
    
    </div>
